extends ../../layouts/default.pug
include ../../mixins/fillter-status.pug
include ../../mixins/alert.pug
block main
  h1 #{pageTitle}
  +alert-success(3000)
  .card
  
    .card-header Bộ lọc và tìm kiếm
      .card-body
        .row
          .col-6 
            +fillter-status(fillterStatus)
            a(href=`${prefixAdmin}/products/create` class="btn btn-success") Thêm sản phẩm 
          .col-6
            form(id="form-search")
              .input-group
                input(
                  type="text",
                  placehoder="Nhập từ khoá",
                  name="keyword",
                  class="form-controll",
                  value = keyword
                )
                .input-group-append 
                  button(
                    class="btn btn-success",
                    type="submit"
                  ) Tìm


  //- ${prefixAdmin}/products/change-multi?_method=PATCH
  form(action=`${prefixAdmin}/products/change-multi?_method=PATCH`, method="post",form-change-multi)
    .d-flex.align-items-start
      .form-group
        select(name="type" class="form-control")  
          option(disabled selected) --Chọn--  
          option(value="active") Hoạt động
          option(value="inactive") Dừng Hoạt động  
          option(value="delete") Xoá 
          option(value="change-position") Thay đổi vị trí
      .form-group
        input(type="text",name="ids",value="",class="form-control d-none")  
      button(type="submit",class="btn btn-primary") Áp dụng
  table(class="table table-dark table-hover",checkbox-multi)
    thead 
      tr 
        th 
          input(type="checkbox" name="checkAll")
        th STT 
        th Ảnh
        th Tiêu đề
        th Giá
        th Vị trí
        th Trạng thái 
        th Hành động
    tbody 
    -var x = 1;
      each item in products
        tr
          td 
            input(type="checkbox" name="id",value=item.id)
          td #{x++}
          td 
            img(src = item.thumbnail alt="",width = "100px",heght = "auto")
          td #{item.title}
          td #{item.price}$
          td 
            input(type="number",value=item.position,min="1",name="position")
          td           
            if item.status == "active"
               button(class = "badge badge-success",data-status=item.status,data-id=item.id,button-change-status) Hoạt động
            else
               button(class = "badge badge-danger",data-status=item.status,data-id=item.id,button-change-status) Dừng hoạt động

          td 
            a(class = "btn btn-warning btn-sm" href=`${prefixAdmin}/products/edit/${item.id}`) Sửa
            a(class = "btn btn-warning btn-sm" href=`${prefixAdmin}/products/detail/${item.id}`) Chi tiết
            button(class = "btn btn-danger btn-sm ml-1",data-id = item.id,button-delete) Xoá
  
  ul(class="pagination")
    if pagination.currentPage > 1
      li(class=`page-item` )
        button(class = "page-link",button-pagination=pagination.currentPage - 1) Trang Trước
    -for (var i = 1; i <= pagination.totalPage; i++)
        li(class=`page-item ${pagination.currentPage == i ? "active" : ""}` )
          button(class = "page-link",button-pagination=i) #{i}  
      

  form(action="",method ="POST",id="form-change-status",data-path = `${prefixAdmin}/products/change-status`) 
  form(action="",method ="POST",id="form-delete",data-path = `${prefixAdmin}/products/delete`) 

  script(src= "/admin/js/script.js")
  script(src= "/admin/js/products.js")