extend ../../layout/default.pug
include ../../mixin/box-head.pug
block main
  .products
    .container
      .row 
        .col-12
          +box-head("Danh sách sản phẩm")
      
      .row
        each item in products
          .col-3
            .product-item 
              .inner-image 
                img(src=item.thumbnail, alt="")
              .inner-content
                .inner-title 
                  a(href=`products/detail/${item.slug}`) #{item.title}
                .inner-price-new <del> #{item.newPrice}$ </del> 
                .inner-price #{item.price}$
                .inner-discount #{item.discountPercentage} %

